@import "../../styles/vars";
@import "../../styles/mixins";

.outcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100%;
    padding: 10px 0;

    @include breakpoint(md) {
        flex: 0 0 50%;

        &:nth-child(odd) {
            padding-right: 50px;
        }

        &:nth-child(even) {
            padding-left: 50px;
        }
    }

    &__item {
        display: block;
        width: 100%;
    }

    p {
        display: block;
        
        @include breakpoint(md) {
            padding-right: 50px;
        }
    }

    button {
        min-width: 50px;
    }
}