@import "../../styles/vars";

.button:disabled {
    cursor: not-allowed;
    background-color: grey;

    &:hover {
        cursor: not-allowed;
    }
}

.button {
    border: none;
    padding: 10px;
    background-color: $secondary-color;
    color: $primary-color;
    font-weight: bolder;
    transition: 0.2s ease-in-out;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }
}

.button__secondary {
    background-color: $primary-color;
    color: $white;
}