@import "../../styles/vars";

.switch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $tertiary-color;
    padding: 10px;
    align-items: center;

    .checkbox {
        height: 0;
        width: 0;
        visibility: hidden;

        &:checked ~ .label .button {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }
    }
      
    .label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        width: 50px;
        height: 25px;
        background: $primary-color;
        border-radius: 100px;
        position: relative;
        transition: background-color .2s;

        .button {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            transition: 0.2s;
            background: $white;
            box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
        }
    }

    .textLeft, .textRight {
        pointer-events: none;
        padding: 0 5px;
        color: $white;
        font-weight: normal;
        font-size: 14px;
        font-weight: bold;
    }
}