@import "../../styles/vars";

.eventWrapper {
    padding: 20px 10px;
    border-bottom: 1px solid $primary-color; 
    display: block;
    margin: 0;
    
    .event {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__name {
            flex-basis: 50%;
        }

        &__live {
            flex-basis: 20%;
        }
    }
    
    p {
        margin: 0;
    }
}

.outcome { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;;
}