// Expand/enhance this in the future to support retina devices and various other screen sizes
@mixin breakpoint($point) {
    @if $point == lg {
        @media (min-width: 1080px) { @content ; }
    }
    @else if $point == md {
        @media (min-width: 720px) { @content ; }
    }
    @else if $point == sm {
        @media (min-width: 460px) { @content ; }
    }
}