@import "vars";
@import "mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-transform: none;
  margin: 0;
}

h4 {
  color: $tertiary-color;
  padding: 0 0 15px;
  margin: 30px 0 0;
}

.container {
  padding: 20px; 

  @include breakpoint(md) {
    padding: 40px 20px;
  }
}